### import libraries

In [11]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [12]:
#!pip install mlxtend

### Upload dataset

In [13]:
data=pd.read_csv("G:\MBA\groceries.csv",header=None)

In [14]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
1,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.shape

(9836, 33)

In [16]:
data=data.drop(index=0)

In [17]:
data=data.drop(columns=0)

In [18]:
data.shape

(9835, 32)

In [19]:
data.head()

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,32
1,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
transactions =[]
for i in range(data.shape[0]):
    transactions.append([str(data.values[i,j]) for j in range(data.shape[1])])
transaction = np.array(transactions)

In [21]:
transaction

array([['citrus fruit', 'semi-finished bread', 'margarine', ..., 'nan',
        'nan', 'nan'],
       ['tropical fruit', 'yogurt', 'coffee', ..., 'nan', 'nan', 'nan'],
       ['whole milk', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ...,
       ['chicken', 'citrus fruit', 'other vegetables', ..., 'nan', 'nan',
        'nan'],
       ['semi-finished bread', 'bottled water', 'soda', ..., 'nan',
        'nan', 'nan'],
       ['chicken', 'tropical fruit', 'other vegetables', ..., 'nan',
        'nan', 'nan']], dtype='<U25')

In [22]:
te = TransactionEncoder()
tr_ary=te.fit_transform(transaction)

In [23]:
tr_ary

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False],
       [False, False, False, ...,  True, False, False],
       ...,
       [False, False, False, ..., False,  True, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [24]:
dataset=pd.DataFrame(tr_ary, columns=te.columns_)

In [25]:
dataset.columns

Index(['Instant food products', 'UHT-milk', 'abrasive cleaner',
       'artif. sweetener', 'baby cosmetics', 'baby food', 'bags',
       'baking powder', 'bathroom cleaner', 'beef',
       ...
       'turkey', 'vinegar', 'waffles', 'whipped/sour cream', 'whisky',
       'white bread', 'white wine', 'whole milk', 'yogurt', 'zwieback'],
      dtype='object', length=170)

In [26]:
def data_encode(x):
    if x == False:
        return 0
    else:
        return 1
    
dataset=dataset.applymap(data_encode)

In [27]:
dataset

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,baby food,bags,baking powder,bathroom cleaner,beef,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9830,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
9831,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9832,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9833,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9834,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

#### implement algorithm

In [29]:
model=apriori(dataset,min_support=0.05,use_colnames=True)

In [30]:
model['length']=model['itemsets'].apply(lambda x: len(x))

In [32]:
model

     support                             itemsets  length
0   0.052466                               (beef)       1
1   0.080529                       (bottled beer)       1
2   0.110524                      (bottled water)       1
3   0.064870                        (brown bread)       1
4   0.055414                             (butter)       1
..       ...                                  ...     ...
58  0.056634             (whole milk, rolls/buns)       2
59  0.056024                 (yogurt, whole milk)       2
60  0.074733  (other vegetables, whole milk, nan)       3
61  0.056533        (nan, whole milk, rolls/buns)       3
62  0.055923            (yogurt, nan, whole milk)       3

[63 rows x 3 columns]

In [33]:
#explore items with length 2

In [34]:
model[(model['length']==2)& (model['support'] >=0.05)]

     support                        itemsets  length
29  0.052364                     (beef, nan)       2
30  0.080529             (bottled beer, nan)       2
31  0.110524            (nan, bottled water)       2
32  0.064870              (nan, brown bread)       2
33  0.055313                   (nan, butter)       2
34  0.077682              (nan, canned beer)       2
35  0.082664             (nan, citrus fruit)       2
36  0.058058                   (nan, coffee)       2
37  0.053177                     (nan, curd)       2
38  0.063345            (domestic eggs, nan)       2
39  0.058871              (nan, frankfurter)       2
40  0.072293    (nan, fruit/vegetable juice)       2
41  0.058465                (nan, margarine)       2
42  0.052364                  (nan, napkins)       2
43  0.079817               (newspapers, nan)       2
44  0.193391         (other vegetables, nan)       2
45  0.088968                   (pastry, nan)       2
46  0.075648                (nan, pip fruit)       2
47  0.057651                     (pork, nan)       2
48  0.183833               (nan, rolls/buns)       2
49  0.108897          (root vegetables, nan)       2
50  0.093849                  (nan, sausage)       2
51  0.098526            (shopping bags, nan)       2
52  0.174377                     (nan, soda)       2
53  0.104830           (nan, tropical fruit)       2
54  0.071581       (nan, whipped/sour cream)       2
55  0.255414               (nan, whole milk)       2
56  0.139400                   (yogurt, nan)       2
57  0.074835  (other vegetables, whole milk)       2
58  0.056634        (whole milk, rolls/buns)       2
59  0.056024            (yogurt, whole milk)       2

In [35]:
model[(model['length']==2)& (model['support'] >=0.8)]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []

In [ ]:
# extract itemsets with rule creation

In [36]:
rules = association_rules(model,metric='lift',min_threshold=1.1)

In [38]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013,1,1
1,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548,1,1
2,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452,1,1
3,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696,1,1
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132,1,1
5,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157,1,1
6,"(other vegetables, nan)",(whole milk),0.193391,0.255516,0.074733,0.386435,1.512372,0.025319,1.213375,2,1
7,"(nan, whole milk)",(other vegetables),0.255414,0.193493,0.074733,0.292596,1.512179,0.025312,1.140094,2,1
8,(other vegetables),"(nan, whole milk)",0.193493,0.255414,0.074733,0.386232,1.512179,0.025312,1.213139,1,2
9,(whole milk),"(other vegetables, nan)",0.255516,0.193391,0.074733,0.292479,1.512372,0.025319,1.140050,1,2
10,"(nan, whole milk)",(rolls/buns),0.255414,0.183935,0.056533,0.221338,1.203347,0.009553,1.048034,2,1
11,"(nan, rolls/buns)",(whole milk),0.183833,0.255516,0.056533,0.307522,1.203534,0.009560,1.075101,2,1
12,(whole milk),"(nan, rolls/buns)",0.255516,0.183833,0.056533,0.221250,1.203534,0.009560,1.048047,1,2
13,(rolls/buns),"(nan, whole milk)",0.183935,0.255414,0.056533,0.307352,1.203347,0.009553,1.074984,1,2
14,"(yogurt, nan)",(whole milk),0.139400,0.255516,0.055923,0.401167,1.570027,0.020304,1.243225,2,1
15,"(nan, whole milk)",(yogurt),0.255414,0.139502,0.055923,0.218949,1.569507,0.020292,1.101718,2,1
16,(yogurt),"(nan, whole milk)",0.139502,0.255414,0.055923,0.400875,1.569507,0.020292,1.242788,1,2
17,(whole milk),"(yogurt, nan)",0.255516,0.139400,0.055923,0.218862,1.570027,0.020304,1.101726,1,2

In [39]:
rules["antecedents_length"]=rules["antecedents"].apply(lambda x:len(x))
rules["consequents_length"]=rules["consequents"].apply(lambda x:len(x))
rules.sort_values('lift',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132,1,1
5,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157,1,1
14,"(yogurt, nan)",(whole milk),0.139400,0.255516,0.055923,0.401167,1.570027,0.020304,1.243225,2,1
17,(whole milk),"(yogurt, nan)",0.255516,0.139400,0.055923,0.218862,1.570027,0.020304,1.101726,1,2
16,(yogurt),"(nan, whole milk)",0.139502,0.255414,0.055923,0.400875,1.569507,0.020292,1.242788,1,2
15,"(nan, whole milk)",(yogurt),0.255414,0.139502,0.055923,0.218949,1.569507,0.020292,1.101718,2,1
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013,1,1
1,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548,1,1
9,(whole milk),"(other vegetables, nan)",0.255516,0.193391,0.074733,0.292479,1.512372,0.025319,1.140050,1,2
6,"(other vegetables, nan)",(whole milk),0.193391,0.255516,0.074733,0.386435,1.512372,0.025319,1.213375,2,1
7,"(nan, whole milk)",(other vegetables),0.255414,0.193493,0.074733,0.292596,1.512179,0.025312,1.140094,2,1
8,(other vegetables),"(nan, whole milk)",0.193493,0.255414,0.074733,0.386232,1.512179,0.025312,1.213139,1,2
3,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696,1,1
2,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452,1,1
11,"(nan, rolls/buns)",(whole milk),0.183833,0.255516,0.056533,0.307522,1.203534,0.009560,1.075101,2,1
12,(whole milk),"(nan, rolls/buns)",0.255516,0.183833,0.056533,0.221250,1.203534,0.009560,1.048047,1,2
10,"(nan, whole milk)",(rolls/buns),0.255414,0.183935,0.056533,0.221338,1.203347,0.009553,1.048034,2,1
13,(rolls/buns),"(nan, whole milk)",0.183935,0.255414,0.056533,0.307352,1.203347,0.009553,1.074984,1,2

In [40]:
rules=rules.sort_values('confidence',ascending=False)

In [41]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132,1,1
14,"(yogurt, nan)",(whole milk),0.139400,0.255516,0.055923,0.401167,1.570027,0.020304,1.243225,2,1
16,(yogurt),"(nan, whole milk)",0.139502,0.255414,0.055923,0.400875,1.569507,0.020292,1.242788,1,2
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013,1,1
6,"(other vegetables, nan)",(whole milk),0.193391,0.255516,0.074733,0.386435,1.512372,0.025319,1.213375,2,1
8,(other vegetables),"(nan, whole milk)",0.193493,0.255414,0.074733,0.386232,1.512179,0.025312,1.213139,1,2
3,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696,1,1
11,"(nan, rolls/buns)",(whole milk),0.183833,0.255516,0.056533,0.307522,1.203534,0.009560,1.075101,2,1
13,(rolls/buns),"(nan, whole milk)",0.183935,0.255414,0.056533,0.307352,1.203347,0.009553,1.074984,1,2
1,(whole milk),(other vegetables),0.255516,0.193493,0.074835,0.292877,1.513634,0.025394,1.140548,1,1
7,"(nan, whole milk)",(other vegetables),0.255414,0.193493,0.074733,0.292596,1.512179,0.025312,1.140094,2,1
9,(whole milk),"(other vegetables, nan)",0.255516,0.193391,0.074733,0.292479,1.512372,0.025319,1.140050,1,2
2,(whole milk),(rolls/buns),0.255516,0.183935,0.056634,0.221647,1.205032,0.009636,1.048452,1,1
10,"(nan, whole milk)",(rolls/buns),0.255414,0.183935,0.056533,0.221338,1.203347,0.009553,1.048034,2,1
12,(whole milk),"(nan, rolls/buns)",0.255516,0.183833,0.056533,0.221250,1.203534,0.009560,1.048047,1,2
5,(whole milk),(yogurt),0.255516,0.139502,0.056024,0.219260,1.571735,0.020379,1.102157,1,1
15,"(nan, whole milk)",(yogurt),0.255414,0.139502,0.055923,0.218949,1.569507,0.020292,1.101718,2,1
17,(whole milk),"(yogurt, nan)",0.255516,0.139400,0.055923,0.218862,1.570027,0.020304,1.101726,1,2

In [42]:
rules['confidence'].min()

0.2188619180262634

In [43]:
rules['confidence'].mean()

0.30472815004651976

In [44]:
rules[rules['confidence'] >0.30472815004651976]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedents_length,consequents_length
4,(yogurt),(whole milk),0.139502,0.255516,0.056024,0.401603,1.571735,0.020379,1.244132,1,1
14,"(yogurt, nan)",(whole milk),0.139400,0.255516,0.055923,0.401167,1.570027,0.020304,1.243225,2,1
16,(yogurt),"(nan, whole milk)",0.139502,0.255414,0.055923,0.400875,1.569507,0.020292,1.242788,1,2
0,(other vegetables),(whole milk),0.193493,0.255516,0.074835,0.386758,1.513634,0.025394,1.214013,1,1
6,"(other vegetables, nan)",(whole milk),0.193391,0.255516,0.074733,0.386435,1.512372,0.025319,1.213375,2,1
8,(other vegetables),"(nan, whole milk)",0.193493,0.255414,0.074733,0.386232,1.512179,0.025312,1.213139,1,2
3,(rolls/buns),(whole milk),0.183935,0.255516,0.056634,0.307905,1.205032,0.009636,1.075696,1,1
11,"(nan, rolls/buns)",(whole milk),0.183833,0.255516,0.056533,0.307522,1.203534,0.009560,1.075101,2,1
13,(rolls/buns),"(nan, whole milk)",0.183935,0.255414,0.056533,0.307352,1.203347,0.009553,1.074984,1,2

In [45]:
rules.isnull().sum()

antecedents           0
consequents           0
antecedent support    0
consequent support    0
support               0
confidence            0
lift                  0
leverage              0
conviction            0
antecedents_length    0
consequents_length    0
dtype: int64

In [46]:
rules['antecedents'].max()

frozenset({'nan', 'whole milk'})

In [48]:
rules['consequents'].max()

frozenset({'nan', 'yogurt'})

In [49]:
print((rules['antecedents']==frozenset({'nan', 'whole milk'})).sum())

3

In [50]:
print((rules['consequents']==frozenset({'nan', 'yogurt'})).sum())

1

In [51]:
model['itemsets']

0                                  (beef)
1                          (bottled beer)
2                         (bottled water)
3                           (brown bread)
4                                (butter)
                     ...
58               (whole milk, rolls/buns)
59                   (yogurt, whole milk)
60    (other vegetables, whole milk, nan)
61          (nan, whole milk, rolls/buns)
62              (yogurt, nan, whole milk)
Name: itemsets, Length: 63, dtype: object